.fcontainer {
    display: flex;
    border: rgb(136, 145, 150) solid;
    width: 100%;   
}
.progress-bar {
    width: 100%;
    border: rgb(83, 90, 94) 1px solid;
    height: 2rem;
}
.progress-fill {
    height: 2rem;
    background-color: rgb(135, 189, 221);
    width: 25%;
}
.container {
    display: flex;
    flex-wrap:wrap;
    margin: 5% 5%;
    justify-content:flex-start;
}
.checkingbox {
    width: 40px;
    height: 40px;
}
label {
    display: inline-block;
    width: 25vh;
    text-align: right;
    font-weight: bolder;
  }
  /* check box and the label position */
  .cbox {
      display: flex;
      align-items: center; 
      justify-content: space-between; 
      gap: 10px;
  }
  .name {
      display: flex;
      flex-wrap: wrap;
      align-content:flex-start;
      align-items:center;
      justify-content:left;
      margin-bottom: 2vh;
      gap: 10px;
      width: 100%;
  }
  input {
      height:3vw;
      width: 15vw;
      resize: vertical;
  }
  select {
    height:3vw;
      width: 15vw;
      resize: vertical;
  }
  .textbox {
    width: 70%;
}
  textarea {
    resize: vertical;
  }
  
  .description {
      padding-top: 5%;
  }
  .countrybox {
      gap: 4px;
  }
  .lastrow {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.button1 {
  font-weight: bold;
  width: 50vw;
  height: 10vw;
  font-size:3vw;
}
img {
    width:10vw;
}
.header1 {
    display: flex;
    align-items: center;
   justify-content: space-between;
   width: 100%;
}
.logo {
    display: flex;
}
header {
    width: 100%;
}
a:link {
  text-decoration: none;
  color: rgb(39, 37, 38);
}
.navbar {
  display: flex;
  width: 50%;
}
.navchild {
  display: flex;
  width: 100%;
  justify-content: space-between;

}
* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* Hide the browser's default checkbox */
.cbox input {
  position: relative;
  opacity: 0;
  cursor:pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  height: 6vh;
  width: 6vh;
  background-color: rgb(255, 255, 255);
  border: rgb(136, 145, 150) solid;
}
/* On mouse-over, add a grey background color */
.cbox:hover input ~ .checkmark {
  background-color: #ccc;
}
/* When the checkbox is checked, add a white background */
.cbox input:checked ~ .checkmark {
  background-color: #ffffff;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
.cbox input:checked ~ .checkmark:after {
  display: block;
}
/* Style the checkmark/indicator */
.container .checkmark:after {
    content: "✓";
    color: rgb(73, 89, 110);
    transform : scale(3);
    
}
.designc {
    display: flex;
    align-items: center;
}
.checkmark {
    display: flex;
    align-items: center;
    justify-content: center;
}
input .lastlbl {
    display: flex;
    align-items: center;
    justify-content: center;
}
label.lastlbl {
    display: flex;
    justify-content: space-between;
}
  @media screen and (max-width: 600px) {
    .fcontainer {
        margin: 5px 5px;
        padding: 3%;
        width: 100%;
    }
    label input {
        width: 0px;
    }
    select {
        width: 19vW;
        height: 6vw;
    }

    .checkmark {
        display: flex;
        position: relative;
        height: 7vh;
        width: 9vh;
    }
    .button1 {
        display: flex;
    }
    .midsection {
        display: flex;
        flex-wrap: wrap;
    }
    .navbar {
        justify-content: space-between;
        width: 70%;
    }
    .lastlbl {
        display: flex;
    }
  }
  @media screen and (max-width: 800px) {
    .fcontainer {
        margin: 5px 5px;
        padding: 3%;
        width: 100%;
    }
    label input {
        width: 0px;
    }
    select {
        width: 19vW;
        height: 6vw;
    }

    .checkmark 
    {
        display: flex;
        position: relative;
        height: 7vh;
        width: 9vh;
    }
    .button1 {
        display: flex;
    }
    .midsection {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 2%;
    }
    .navbar {
        justify-content: space-between;
        width: 70%;
    }
    .lastlbl {
        display: flex;
    }
  }
  @media screen and (max-width: 1024px) {
    .fcontainer {
        margin: 5px 5px;
        padding: 3%;
        width: 100%;
    }
    label input {
        width: 0px;
    }
    select {
        width: 19vW;
        height: 6vw;
    }

    .checkmark 
    {
        display: flex;
        position: relative;
        height: 6vh;
        width: 6vh;
    }
    .button1 {
        display: flex;
    }
    .midsection {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 2%;
    }
    .navbar {
        justify-content: space-between;
        width: 70%;
    }
    .lastlbl {
        display: flex;
    }
    input {
        height: 2vw;
        width: 12vw;
    }
    select {
        width: 12vW;
        height: 3vw;
    }
    .button1 {
        width: 22vw;
        height: 9vw;
    }
    .name {
        padding-top: 2%;
    }
    .textbox {
        width: 50%;
        padding: 0px;
    }
  }

