button {
    width: 100px;
    height: auto;
    padding: 5px;
    margin-top: 1%;
    background-color: rgb(108, 79, 112);
    color: honeydew;
    
}
input {
    width: 150px;
    height: 20px;
}
body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:rgb(153, 165, 146);
    color: honeydew;
}
.result-child {
    text-align: center;
    width: 100%;
    border-style: ridge;
    border-color: rgb(108, 79, 112);
}
.game-zone {
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}
.result-container {
    display: flex;
    align-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-top: 3%;
}
.game-winner-message {
    margin-top: 3%;
}
#winner-message {
    font-size: 2rem;
}
.span-style {
    margin-bottom: 3%;
}
.democlass {
    border-color: rgb(153, 165, 146);
}