#map { height: 180px; }
.main-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
div {
    padding: 1rem;
}
button {
    height: 2rem;
    border-radius: 0.5rem;
    background: rgb(228, 158, 54);
    color: rgb(255, 254, 249);
    font-weight: bold;
    border-color:  rgb(209, 149, 58);
    font-size: large;
}
input {
    height: 1.5rem;
    border-radius: 0.1rem;
    width:8.5rem;
}
body, html {
    height: 100%;
    margin: 0;
    background-image: url('https://i.ibb.co/C9JdvGK/Weather-Background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: larger;
  color: rgb(43, 38, 38);
  }
  
h2 {
    color: rgb(255, 254, 249);
}