.fcontainer {
    border: rgb(136, 145, 150) solid;
    width: 100%;
  }
  h1 {
    font-size: 4vh;
    padding-top: 2vw;
  }
  .progress-bar {
    width: 100%;
    border: rgb(135, 189, 221) 1px solid;
    height: 2rem;
  }
  .progress-fill {
    height: 2rem;
    background-color: rgb(135, 189, 221);
    width: 75%;
  }
  .favorite {
      display: flex;
      align-items: center;
  }
  .container {
    margin: 5% 5%;
    justify-content: flex-start;
  }
  label {
    display: inline-block;
    width: 25vh;
    text-align: right;
    font-weight: bolder;
  }
  label.flook {
    padding: 2vw;
  }
  .name {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
    margin-bottom: 2vh;
    width: 100%;
  }
  input.flook {
    height: 3vw;
    width: 3vw;
    resize: vertical;
    border: rgb(135, 189, 221) solid 1px;
  }
  select {
    height: 3vw;
    width: 15vw;
    resize: vertical;
  }
  textarea {
    resize: vertical;
  }
  
  .lastrow {
    display: flex;
    justify-content: flex-end;
    flex-flow: row;
    padding-top: 10vw;
  }
  .button1 {
    font-weight: bold;
    width: 20vw;
    height: 10vw;
    font-size: 3vw;
  }
  img {
    width: 10vw;
  }
  .header1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .logo {
    display: flex;
  }
  header {
    width: 100%;
  }
  a:link {
    text-decoration: none;
    color: rgb(39, 37, 38);
  }
  .navbar {
    display: flex;
    width: 50%;
  }
  .navchild {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  * {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .cblock {
    padding-top: 3vw;
  }
  .fieled {
    padding-top: 3vw;
  }
  button {
    border: rgb(135, 189, 221) solid 1px;
  }
  input.favorite {
      display: flex;
      align-items: center;
      justify-content: center;
      border: rgb(135, 189, 221) solid 1px;
  }
  input[type="checkbox" i] {
      margin-left: 0vw;
  }
  .mainimage {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  .mainimage img{
      width:20vw;
      height: 20vw;
  }
  .cflex {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
  input .cflex {
      display: flex;
      align-items: center;
      justify-content: center;
  }
  label .cflex {
      display: flex;
      align-items: center;
      justify-content: center;
  }
  input.pic {
    height: 3vw;
    width: 3vw;
    resize: vertical;
    border: rgb(135, 189, 221) solid 1px;
  }
  .checkme {
      display: flex;
      align-items: center;
      justify-content: flex-end;
  }
/* Hide the browser's default checkbox */
.container input {
    position: relative;
    opacity: 0;
    cursor:pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    height: 6vh;
    width: 6vh;
    background-color: rgb(255, 255, 255);
    border: rgb(136, 145, 150) solid;
  }
  /* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: rgb(202, 224, 231);
  }
  /* When the checkbox is checked, add a white background */
.container input:checked ~ .checkmark {
    background-color: #ffffff;
  }
  /* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  /* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
  }
  /* Style the checkmark/indicator */
  .container .checkmark:after {
      content: "✓";
      color: rgb(73, 89, 110);
      transform : scale(3);  
  }
  .container label {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-left: 0px;
      padding-left: 0px;
  }
  .container .checkmark {
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .container input {
      display: flex;
  }
  .cld {
      display: flex;
      justify-content: space-between;
  }
  .cflex label {
      width: 100%;
  }
  @media screen and (max-width: 600px) {
    .fcontainer {
      margin: 5px 5px;
      padding: 3%;
      width: 100%;
    }
    label input {
      width: 0px;
    }
    select {
      width: 19vw;
      height: 6vw;
    }
  
    .checkmark {
      display: flex;
      position: relative;
      height: 7vh;
      width: 9vh;
    }
    .button1 {
      display: flex;
    }
    .midsection {
      display: flex;
      flex-wrap: wrap;
    }
    .navbar {
      justify-content: space-between;
      width: 70%;
    }
    .lastlbl {
      display: flex;
    }
  }
  @media screen and (max-width: 800px) {
    .fcontainer {
      margin: 5px 5px;
      padding: 3%;
      width: 100%;
    }
    label input {
      width: 0px;
    }
    select {
      width: 19vw;
      height: 6vw;
    }
  
    .checkmark {
      display: flex;
      position: relative;
      height: 7vh;
      width: 9vh;
    }
    .button1 {
      display: flex;
    }
    .midsection {
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 2%;
    }
    .navbar {
      justify-content: space-between;
      width: 70%;
    }
    .lastlbl {
      display: flex;
    }
  }
  @media screen and (max-width: 1024px) {
    .fcontainer {
      margin: 5px 5px;
      padding: 3%;
      width: 100%;
    }
    label input {
      width: 0px;
    }
    select {
      width: 19vw;
      height: 6vw;
    }
  
    .checkmark {
      display: flex;
      position: relative;
      height: 6vh;
      width: 6vh;
    }
    .button1 {
      display: flex;
    }
    .midsection {
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 2%;
    }
    .navbar {
      justify-content: space-between;
      width: 70%;
    }
    .lastlbl {
      display: flex;
    }
    input {
      height: 2vw;
      width: 12vw;
    }
  
    .button1 {
      width: 22vw;
      height: 9vw;
    }
    .name {
      padding-top: 2%;
    }
    .textbox {
      width: 50%;
      padding: 0px;
    }
  }
  