#product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px;
}
p {
    text-align: center;
    align-items: center;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px;
}
body {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 0px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 0px;
}