body {
    font-family: calibri, Helvetica, sans-serif;
    padding-left: 5%;
    padding-right: 5%;
  }
  header {
    color: #2a7b89;
    border-bottom: 3px solid rgb(57, 165, 183);
    /* question, how to decrease the distance between borderline and the title*/
  }
  header .title {
    font-family: cambria;
  }
  img {
    width: 150px;
    padding-top: 20px;
    float: left;
  }
  .contact-info {
    float: left;
    padding-left: 2%;
    padding-top: 1%;
  }
  .title1 {
    color: #2a7b89;
    padding-bottom: 1%;
    padding-top: 1%;
    border-bottom: 3px solid rgb(57, 165, 183);
  }
  /*to seperate top contact section from buttom*/
  .row1 {
    display: flex;
  }
  .title-color {
    color: #2a7b89;
  }
  