body {
    font-family: "Work Sans";
    background-color: #eee;
}
.font-space-mono {
    color: #293a7d;
    font-family: 'Space Mono', monospace;
    letter-spacing: 0.2px;
}
.homeworker-centered-container {
    /* background-color: #fff; */
    /* max-width: 50%; */
    margin:2em auto;
    text-align: center;
    border:1px solid #ddd;
    padding-top:2em;
    background-color: #fff;
    max-width: 90%;
    /* padding: 2em; */
}
.stats-boxes {
    background-color: lightcoral;
}
.stats-boxes > * {
    
    /* display: inline-block;
    width: 100%;
    padding:2em;
    box-sizing: border-box; */
    /* display: inline-block; */
     width: 33.3%;
     float: left;
     margin-bottom: -999em;
     padding-bottom: 999em;
     box-sizing: border-box;
}
.stats-boxes > * >*:first-child {
    padding: 2em;
}
.home-frontpage {
    background-color: #eee;
    border-radius: 3px;
    max-width: 66.66%;
    margin: 5em auto;
    border: 1px solid #ccc;
    overflow: auto;
    background-image: url("https://www.hackyourfuture.dk/static/images/about_sponsor.jpg");

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;
}
.home-frontpage > * {
    max-height: 500px;
    min-height: 500px;
    display: inline-block;
    vertical-align: top;
}
.home-frontpage-image {
  
    text-align: center;
    height: 485px;
    width:50%;
}
.home-frontpage-image > img {
    max-width: 50%;
    transform: translateY(6em);
}
.home-frontpage-container {
    border-left: 1px solid #ccc;
    box-sizing: border-box;
    border-right: 1px solid #ccc;
    width: 50%;
    padding:1em;
    padding-bottom: 15em;
    background-color: #fff;
}
.homeworker {
    /* padding-top: 4.5em; */
}
.homeworker > header {
    position: fixed;
    top:0;
    left:0;
    display: flex;
    flex-direction: row;
    padding:1em;
    border-bottom: 1px solid #eee;
    width: 100%;
}
.search-box > form {
    /* display: flex;
    flex-direction: row; */
}
.search-box > form > div {
    min-width: 250px;
    display: inline-block;
}
.homeworker > section > * {
    vertical-align: top;
}
.homeworker > section > aside {
    width: 210px;
    display: inline-block;
    position: fixed;
    left:0;
    top:0;
    padding:1em;
    height:100vh;
    overflow-y: auto;
    /* z-index: -1; */
}
.homeworker > section > aside > *:last-child {
    margin-bottom: 12em;
}
.homeworker > section > table {
    /* display: inline-block; */
    max-width: calc(100% - 200px - 1em);
    min-width: calc(100% - 200px - 1em);
    margin-left: 220px;
}
table table {
    width: 100%;
}
.homeworker > section {
    padding: 1em 2em;
    box-sizing: border-box;
    width: 100%;
    /* background-color: #efefef; */
}
.homeworker > *:last-child {
}
/* .homeworker-wrap {
    z-index: -11;
} */
.search-box {
    line-height: 1.66rem;
    z-index: 999999;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    background-color: #fff;
    padding: 1em;
    box-sizing: border-box;
}
.search-box > form > * {
    vertical-align: top;
    margin-right: 1em;
    z-index: 9999;
}
.divider {
    height:20px;
    display: none;
}


.table-header > td {
    font-weight: 800;
}
.styled-table {
    border-collapse: collapse;
    /* margin: 25px 0; */
    font-size: 1em;
    /* font-family: sans-serif; */
    min-width: calc(100% - 220px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    /* padding: 12px 15px; */
    padding: 0.25em;
    
}
.styled-table tbody tr {
    border-bottom: 1px solid #ccc;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    /* border-bottom: 2px solid #009879; */
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
.student-git-graphs {
    background-color: #fff;
    border-radius: 3px;
    border:1px solid #ccc;
    padding:1em;
    overflow: auto;
}
.student-git-graphs > img {
    width:40%;
    vertical-align: top;
}
.student-git-graphs > img:first-child {
    width: calc(83% -  2em);
    margin:1em;
}
article {
    line-height: 2rem;
    max-width: calc(100% - 220px);
    min-width: calc(100% - 220px);
    margin-left: 220px;
}
.tag-link {
    background-color: #eee;
    color: #000;
    border: 1px solid #333;
}
.tag-round {
    border-radius: 25px!important;
    font-size: 0.8rem!important;
    font-weight: 900;
    padding: 0.2em 1em!important;
}
.tag {
    padding:0.2em 0.6em 0.2em 0.6em;
    border-radius: 3px;
    display: inline-block;
    font-size: 1rem;
}
.tag.tag-red {
    background-color: rgba(255, 94, 0, 0.096);
    border: 1px solid red;
    color: red;
}
.tag.tag-green {
    background-color: rgba(0, 255, 72, 0.096);
    border: 1px solid green;
    color: green;
}
.tag.tag-black {
    background-color: rgba(70, 70, 70, 0.096);
    border: 1px solid black;
    color: black;
}
.tag.tag-info {
    background-color: rgba(70, 70, 70, 0.096);
    border: 1px solid blue;
    color: blue;
}
.tag.tag-yellow {
    background-color: rgba(190, 192, 76, 0.096);
    border: 1px solid gold;
    color: rgb(167, 146, 27);
}
.tag.tag-orange {
    background-color: rgba(192, 146, 76, 0.096);
    border: 1px solid orange;
    color: orangered;
}
.stats-box {
    background-color: #FBAB7E;
background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    padding: 0.2em;
    font-size: 1.15rem;
    font-family: 'Space Mono', monospace;
    letter-spacing: 0.2px;
    column-count: 2;
    text-align: center;
}
.stats-box > *{
    vertical-align: top;
    display: inline-block;
    padding: 0.25em;
    margin: 0;
}
.rocket {
    font-size: 2rem;
    margin-right: 0.5em;

}

.student-github-profile {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    float: left;
    z-index: -1;
    margin-left: 1em;
    transform: scale(0.9);
}
.student-github-profile > img {
    max-width: 100%;
    height: auto;
}
.is-loading {
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 9999;
    text-align: center;
}
.is-loading > div {
    padding: 20% 0;
    transform: scale(2);
    animation: MoveUpDown 10s linear infinite;

}
.is-loading > div > h2 {
    display: inline-block;
    margin: 0 0.25em;
    animation: MoveUpDown 5s linear infinite;
}
h2.node-1 {
    margin-top: -0.6em;
}
@keyframes MoveUpDown {
    0%, 100% {
      transform: scale(2) translateY(0);
    }
    50% {
      transform: scale(2.3) translateY(-4px);
    }
  }
  @keyframes MoveDownUp {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(8px);
    }
  }


  .percentage-bar-label {
    margin-bottom: 1em;
    margin-top: 1.5em;
    font-weight: 900;
  }
  .percentage-bar-container {
      background-color: #ccc;
      border:1px solid #000;
      border-radius: 3px;
      height: 80px;
      position: relative;
      box-shadow: 0 1px 1px rgba(0,0,0,0.3);
  }
  .percentage-bar-container > .percentage-bar {
      background-color: lightblue;
      text-align: right;
      height: 80px;
      border-right: 1px solid #000;
  }
  .percentage-bar-number {
      color:#fff;
      text-align: right;
      position: absolute;
      right:0;
      color: #000;
      font-weight: 900;
      margin:1.1em;
      top:0;
  }


  .student-list > * {
    border-bottom: 1px solid #eee;
  }
  .student-list > * > * {
      width: 33.33%;
      display: inline-block;
      padding:1em;
      box-sizing: border-box;
  }