button:hover, button:focus, button:active {
    background-color: rgb(86, 146, 138);
}

.btncolor {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .containecolor {
    position: relative;
    display: inline-block;
  }
  
  .dropdowncolor {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdowncolor input {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .containecolor:hover .dropdowncolor {display: block;}
  
  body {
      background-color: rgb(122, 151, 141);
      text-align:justify;

  }
  div {
      padding: 2%;
  }